/* General CSS for all pages */
body
{
    padding:0px 0px 0px 0px;
    z-index : 0;
    background-color : black;
    overflow-x : hidden;
}

.text_blue
{
    color : #8ddffc !important;
}

.text_pink
{
    color : #fea4d0 !important;
}

.text_green
{
    color : #59FF69 !important;
}

.text_floralwhite
{
    color : floralwhite !important;
}

.text_lightgrey
{
    color : lightgrey !important;
}

.font_ubuntu
{
    font-family : 'Ubuntu';
}

.font_righteous
{
    font-family: 'Righteous';
}

.dark_bg
{
    background-color : #222222 !important;
}

.black_bg
{
    background-color : black !important;
}

.navbar
{
    background-color : transparent;
}

.navbar_scrolled
{
    background : rgba(0, 0, 0, 1);
    border-bottom: 1px solid grey;
}

.navbar .nav-link
{
    font-size: 20px;
}

.navbar .nav-link:hover
{
    color : #8ddffc !important;
}

.navbar .nav_link_active
{
    color : #8ddffc !important;
}

.navbar .nav_active
{
    border-bottom : 4px solid #8ddffc;
}

.button_outline_color
{
    border-color : #8ddffc;
    color : #8ddffc;
    background : rgba(0,0,0,0);
}

.button_outline_color:hover
{
    background-color : #8ddffc;
    color : black;
}

.button_solid_color
{
    background-color : #8ddffc;
    color : black;
    border : none;
}

.input_fields_transparent
{
    background : none;
    border : 1px solid #8ddffc;
    border-radius : 5px;
}

.hr_plain
{
    background-color : #8ddffc;
}

.jumbotron
{
    padding-top : 100px;
    background-image : url(../img/header.jpg); 
    background-size : cover;
}

footer
{
    border-top : 2px solid #8ddffc;
    background-color : #303030;
    padding-top : 20px;
    margin-top : 20px;
}

.footer_link:hover
{
    color : white;
    text-decoration : none;
}

.scroll_section
{
    overflow-y : auto;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-color : #444444; 
    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8ddffc; 
}
/*End of General CSS for all pages */

/*Homepage CSS */
.team_intro
{
    text-align : center;
    color : lightgrey;
    border-right : 1px solid #8ddffc;
    border-left : 1px solid #8ddffc;
}
.home_carousel_pic
{
    height : 250px;
}

#row_bg
{
    background-image : linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2), rgba(0,0,0,1)), url(../img/home_row_bg.jpg);
    background-size : 100% 100%;
}

#product_bg
{
    background-image : linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/home_product_bg.jpg);
    background-size : 100% 100%;
}

#compare_bg
{
    background-image : linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/home_compare_bg.jpg);
    background-size : 100% 100%;
}

#gready_review
{
    
    padding : 3px 3px;
    resize : none;
}

.heading_lines
{
    border : 2px solid #8ddffc;
    width : 150px;
}
/*Homepage CSS end*/

/*Blog page CSS*/
#blog_content
{
    background-image : url(../img/blog.jpg);
    background-size : cover;
}

.bottom_outline_search
{
	width: calc(100% - 100px);
	padding: 5px 10px;
	margin-right: 15px;
	font-size: 1.1rem;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid #8ddffc;		/* Sky Blue */
}
/*Blog page CSS ends*/

/*Login page CSS*/
#register
{
    display : none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/*media queries*/
@media (max-width : 900px)
{
    .home_carousel_pic
    {
        height : 200px;
    }
}

/*Product page css*/
.modal_img
{
    width : 100%;
    height : auto;
}

.bottom-pills .nav-link
{
    color : #8ddffc !important;
    background-color : rgba(0,0,0,0) !important;
    border-bottom : 5px solid #8ddffc;
    font-size : 20px;
    font-weight : 600;
}

.bottom-pills .nav-link:not(.active) {
    color: white !important;
    border : none;
}

.border-pills .nav-link
{
    border : 3px solid #8ddffc;
    background-color : #222222 !important;
}

.border-pills .nav-link:not(.active) {
    border : none;
}

.product_review_div
{
    border : 1px solid #8ddffc;
    box-shadow : 0px 5px 20px #C8F0FE;
    background-color : #222222;
}

.product_img_div
{
    width : 90%;
    padding-top : 90%;
    position : relative
}

.product_img
{
    left : 0;
    top : 0;
    position : absolute;
}

.product_price
{
    text-decoration : none !important;
}

#like_product_heart
{
    color : white;
}

@media (min-width : 700px)
{
    .br_no_display
    {
        display : none;
    }

    #like_product
    {
        font-size : 20px;
    }
}

@media (max-width : 400px)
{
    #product_star_rating
    {
        font-size : 20px;
    }

    #price_source_head
    {
        font-size : 20px;
    }

    #product_info_pills .nav-link
    {
        font-size : 0.95rem;
    }
}