body
{
    padding:0px 0px 0px 0px;
    z-index : 0;
    background-color : black;
}

.navbar
{
    background : rgba(50, 50, 50, 0.7);
}

.nav_active
{
    border-bottom : 2px solid #8ddffc;
}

.jumbotron
{
    padding-top : 100px;
    background-color : black;
}

footer
{
    color : floralwhite;
    border-top : 2px solid #8ddffc;
    background-color : #303030;
    padding-top : 20px;
    margin-top : 20px;
}

.footer-links
{
    color : lightgrey;
}

.team_intro
{
    text-align : center;
    color : lightgrey;
    border-right : 1px solid #8ddffc;
    border-left : 1px solid #8ddffc;
}

.button-color
{
    border-color : #8ddffc;
    color : #8ddffc;
    background : rgba(0,0,0,0);
}

.button-color:hover
{
    background-color : #8ddffc;
    color : black;
}

.home_carousel_pic
{
    height : 250px;
}

#row_bg
{
    background-image : linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2), rgba(0,0,0,1)), url(../img/background2.jpg);
    background-size : 100% 100%;
}

#product_bg
{
    background-image : linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/background.jpg);
    background-size : 100% 100%;
}

#compare_bg
{
    background-image : linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/background1.jpg);
    background-size : 100% 100%;
}

#gready_review
{
    
    padding : 3px 3px;
    background : none;
    border : 1px solid #8ddffc;
    border-radius : 5px;
    color : lightgrey;
    resize : none;
}

@media (max-width : 900px)
{
    .home_carousel_pic
    {
        height : 200px;
    }
}